
html, body {
  height: 100%;
}

body {
	position: relative;
	font-family: 'Baloo Bhaijaan', cursive;
}
.wrap {
	height: 100%;  
	position: relative;
	overflow: hidden;
}
.bg {
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

	background-size: cover;
}
.bg.opa1{
	opacity: 0;
}
span.error-title
{
	font-size: 200px;
	line-height: 150px;
}
.error-content
{
	position: relative;
}
a:hover{
	text-decoration: underline;
	text-decoration-color: #fff;
}
h3.back-page{
	-webkit-text-stroke: 1px #333;
}